.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.proudcts-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
}
.selected-products{
    background-color: whitesmoke;
    padding-left: 10px;
}
.one-btn{
    padding: 7px;
    margin-bottom: 5px;
    color: green;
    background-color: white;
}
.one-btn:hover{
    background-color: gainsboro;
}
.again-btn{
    padding: 7px;
    color: blue;
    background-color: white;
}