.all-product{
    height: 510px;
    width: 280px;
    border: 2px solid #333a3f;
    border-radius: 8px;
    position: relative;
}
.all-product img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    margin: 10px;
}
.product-deatails{
    margin: 0 18px;
}
.button-cart{
    width: 100%;
    background:burlywood;
    border: none;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-cart .button-text{
    margin-right: 5px;
}
.button-cart:hover{
    background-color: orange;
}
