.header{
    background-color: gray;
    height: 80px;
    text-align: center;
}
.header h2{
    margin-top: 0%;
   
}
@media screen and (max-width:541px) {
    .header{
        height: 100%;
        width: 100%;
    }
}